/** General Styling **/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #86844e;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.float-right{
    float: right;
    margin-left: 25px;
}
/** Header Styling **/
.header {
    padding: 10px;
    background-color: #86eba4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    color: #2b2b2b;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-position: 80%;
    z-index: 9999;
    justify-content: space-between;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    color: #2b2b2b;
    text-shadow: 0, 0, 10px, rgb(0, 0, 0 / 50%);
}

.header h1 .vor
{
    color: #fbf8be;
}

.header h1 .tt
{
    color: #fbf8be;
}

.header div {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    font-weight: bold;
    font-size: 30px;
    color: #2b2b2b;
    text-shadow: 0, 0, 10px, rgb(0, 0, 0 / 50%);
    display: inline-block;
    margin-left: 25px;
    border-bottom: #2b2b2b 3px;
}

a {
    color: #2b2b2b;
    text-decoration: none;
}

p {
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/** Hero Styling */

.hero{
    background-image: url(../images/37113422_1981791638519181_3994268148751663104_n.jpg);
    background-position: center;
    height: 900px;
    width: 100%;
    background-size: cover;
    flex-direction: row;
}

/** Links Styling */
.links{
    margin-bottom: 20px;
    padding: 30px;
    height: 300px;
    font-family: 'Inter', sans-serif;
    background-color: #86eba4;
    color: #2b2b2b;
    display: flex;
    flex-wrap: wrap;
    
}

.links h2
{
    margin-bottom: 20px;
    font-size: 36px;
    display: flex;
    flex-wrap: wrap;
}

.links img {
    max-height: 200px;
    margin-right: 10px;
}